@import "../../Style/variables";
.dropdown {
  margin-top: 20px;
  height: 30px;
  width: 200px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,.1);
  background-color: white;
  &__header {
    color: black;
    height: 30px;
    padding-left: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & img{
      height: 30px;
      border-radius: 15px;
    }
  }
  &__body {
    position: absolute;
    height: 150px;
    width: 190px;
    background-color: whitesmoke;
    color: black;
    overflow: auto;
    padding: 5px;
    border-top: 1px solid #E5E8EC;
    display: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    z-index: 9;

    &.open {
      display: block;
    }
  }
  &__item {
    padding: 10px;
    &:hover {
      cursor: pointer;
      background-color: $primary-color;
      color: whitesmoke;
    }
  }
}

#invalid {
  border: solid 2px red;
}